.hero{
  min-height: calc(100vh - 80px); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 70px;
  background: linear-gradient(
  to right,
  #ffffff 0%,
  #ffffff 40%,
  #ffdcc2 70%,
  #f8c29c 100%
);
  position: relative;
  padding-bottom: 90px;
  transition: margin-top 0.4s ease;
}
.hero.push-down {
  margin-top: 300px; /* matches menu height */
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0),
    #ffffff
  );
}
.hero-left {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  height: 80vh;
  text-align: center;
}
.hero-left h1 {
  font-size: 70px;
  font-family: "Playfair Display", serif;
  color: #2d1b2f;
  line-height: 1.2;
}

.hero-left h1 span {
  display: block;
}

.hero-left p {
  margin: 20px 0px;
}
.order-btn {
  padding: 14px 28px;
  background: #f97316;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.order-btn a{
  text-decoration: none;
  color: white;
}
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  object-fit: cover;
}
.inline-icon img {
  width: 42px;
  height: auto;
  display: block;
}
.animate-text {
  animation: fadeUp 1.2s ease forwards;
  opacity: 0;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-img {
  animation: fadeRight 1.5s ease forwards;
  opacity: 0;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.scroll-indicator {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scroll {
  animation: animateHeight 1.4s linear 0.3s 4;
  stroke: #ff7a18;
  fill: none;
  stroke-width: 7;
}
#circle--shape {
  animation: animateShape 1.6s ease-in-out 4;
  fill: #ff7a18;
}
@keyframes animateShape {
  50% {
    cy: 100;
    opacity: 0.1;
  }
}

@keyframes animateHeight {
  70% {
    height: 105px;
  }
}
 @media (max-width: 768px){
   .hero{
    flex-direction: column;
   }
   .hero-right img{
     width: 300px;
   }
 }
 