.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background-color: rgb(255, 255, 255); */
  background: linear-gradient(
    to left,
    #ffffff 0%,
    #ffffff 50%,
    #ffdcc2 70%,
    #f8c29c 100%
  );
}
.nav-container {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo img {
  height: 60px;
}
.logo span {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  /* font-family: 'Lobster', cursive; */
  font-family: "Poppins", sans-serif;
  /* filter: brightness(0); */
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}
.nav-links a {
  text-decoration: none;
  color: var(--cream-primary);
  font-size: 17px;
  font-weight: bold;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  background: rgb(255, 153, 0);
  transition: 0.3s;
}
.nav-links a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 25px;
  color: var(--cream-primary);
}
.contact-btn {
  padding: 16px 32px;
  background: #F97316;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
}
.search{
  position: relative;
}
.search input{
  padding: 10px 5px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px rgb(0, 0, 0) solid;
}
.search-input::placeholder {
  font-size: 15px;
  color: #666;
}
.search-icon{
  position: absolute;
  right: 15px;
  top: 25%;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    position:absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* background:#ffffff; */
     background: linear-gradient(
    to left,
    #ffffff 0%,
    #ffffff 50%,
    #ffdcc2 70%,
    #f8c29c 100%
  );
    flex-direction: column;
    gap: 20px;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition: max-height 0.4s ease;
  }
  .nav-links li {
    width: 100%;
    text-align: left;
    padding: 14px 20px;
  }
  .nav-links.open {
    max-height: 400px;
     background: linear-gradient(
    to left,
    #ffffff 0%,
    #ffffff 50%,
    #ffdcc2 70%,
    #f8c29c 100%
  );
    padding: 20px 0;
  }
  .nav-container{
    padding: 10px;
  }
  .contact-btn{
    display: none;
  }
  .search input{
    display: none;
  }
  .search-icon{
    display: none;
  }
}